bitarray==3.8.1
bitstring==4.4.0
black==26.3.1
cffi==2.0.0
click==8.3.2
cryptography==46.0.7
esptool==5.2.0
intelhex==2.3.0
markdown-it-py==4.0.0
mdurl==0.1.2
micropython-esp32-stubs==1.27.0.post1
micropython-stdlib-stubs==1.27.0.post2
mpremote==1.28.0
mypy_extensions==1.1.0
nodeenv==1.10.0
packaging==26.1
pathspec==1.0.4
platformdirs==4.9.6
pycparser==3.0
Pygments==2.20.0
pyright==1.1.408
pyserial==3.5
pytokens==0.4.1
PyYAML==6.0.3
reedsolo==1.7.0
rich==15.0.0
rich-click==1.9.7
tibs==0.5.7
typing_extensions==4.15.0
